<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title>PayPayAPI - sample</title>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> 
<script src="//cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>

<link href="/colorbox.css" rel="stylesheet"/>
<script src="/jquery.colorbox-min.js"></script>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="PayPayAPI - sample"/>

<script>
var images = [];
$(function(){
  $.extend( $.fn.dataTable.defaults, {
    language: {
      url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json'
    }
  });
  $('#transactions_table').DataTable({
    columnDefs: [{ 
      targets: [ 4 ], 
      orderable: false,
      searchable: false
    }],
    order: [ [ 3, 'desc' ] ]
  });
});

function timestamp2datetime( ts ){
  if( ts ){
    if( typeof ts == 'string' ){
      ts = parseInt( ts );
    }
    var dt = new Date( ts );
    var yyyy = dt.getFullYear();
    var mm = dt.getMonth() + 1;
    var dd = dt.getDate();
    var hh = dt.getHours();
    var nn = dt.getMinutes();
    var ss = dt.getSeconds();
    var datetime = yyyy + '-' + ( mm < 10 ? '0' : '' ) + mm + '-' + ( dd < 10 ? '0' : '' ) + dd
      + ' ' + ( hh < 10 ? '0' : '' ) + hh + ':' + ( nn < 10 ? '0' : '' ) + nn + ':' + ( ss < 10 ? '0' : '' ) + ss;
    return datetime;
  }else{
    return "";
  }
}

function getTransaction( transaction_id ){
  $('#transaction_detail').html( '' );
  $.ajax({
    url: '/paypay/payment/confirm/' + transaction_id,
    type: 'GET',
    success: function( result ){
      if( typeof result == 'string' ){ result = JSON.parse( result ); }
      $('#transaction_detail').html( JSON.stringify( result, null, 2 ) );

      if( result.body.data.status == 'REFUNDED' ){
        $('#' + transaction_id + '-refund' ).prop( 'disabled', true );
        $('#' + transaction_id + '-cancel' ).prop( 'disabled', true );
      }else if( result.body.data.status == 'CANCELED' ){
        $('#' + transaction_id + '-cancel' ).prop( 'disabled', true );
      }

      $('#transactionModal').modal();
    },
    error: function( e0, e1, e2 ){
      alert( e1, e2 );
    }
  });
}

function cancelTransaction( transaction_id ){
  if( confirm( 'ID: ' + transaction_id + ' のトランザクションをキャンセルします。よろしいですか？' ) ){
    $('#transaction_detail').html( '' );
    $.ajax({
      url: '/paypay/payment/cancel/' + transaction_id,
      type: 'POST',
      data: { reason: reason },
      success: function( result ){
        if( typeof result == 'string' ){ result = JSON.parse( result ); }
        $('#transaction_detail').html( JSON.stringify( result, null, 2 ) );

        if( result.body.data.status == 'REFUNDED' ){
          $('#' + transaction_id + '-refund' ).prop( 'disabled', true );
          $('#' + transaction_id + '-cancel' ).prop( 'disabled', true );
        }else if( result.body.data.status == 'CANCELED' ){
          $('#' + transaction_id + '-cancel' ).prop( 'disabled', true );
        }

        $('#transactionModal').modal();
      },
      error: function( e0, e1, e2 ){
        alert( e1, e2 );
      }
    });
  }
}

function refundTransaction( transaction_id ){
  if( confirm( 'ID: ' + transaction_id + ' のトランザクションを返金します。よろしいですか？' ) ){
    var reason = window.prompt( 'トランザクション返金理由を入力してください：' );
    if( reason ){
      if( confirm( 'ID: ' + transaction_id + ' のトランザクションの返金理由は以下でよろしいですか？\n' + reason ) ){
        $('#transaction_detail').html( '' );
        $.ajax({
          url: '/paypay/payment/refund/' + transaction_id,
          type: 'POST',
          data: { reason: reason },
          success: function( result ){
            if( typeof result == 'string' ){ result = JSON.parse( result ); }
            $('#transaction_detail').html( JSON.stringify( result, null, 2 ) );

            if( result.body.data.status == 'REFUNDED' ){
              $('#' + transaction_id + '-refund' ).prop( 'disabled', true );
              $('#' + transaction_id + '-cancel' ).prop( 'disabled', true );
            }else if( result.body.data.status == 'CANCELED' ){
              $('#' + transaction_id + '-cancel' ).prop( 'disabled', true );
            }

            $('#transactionModal').modal();
          },
          error: function( e0, e1, e2 ){
            alert( e1, e2 );
          }
        });
      }
    }
  }
}

<%
function timestamp2datetime( ts ){
  if( ts ){
    if( typeof ts == 'string' ){
      ts = parseInt( ts );
    }
    var dt = new Date( ts );
    var yyyy = dt.getFullYear();
    var mm = dt.getMonth() + 1;
    var dd = dt.getDate();
    var hh = dt.getHours();
    var nn = dt.getMinutes();
    var ss = dt.getSeconds();
    var datetime = yyyy + '-' + ( mm < 10 ? '0' : '' ) + mm + '-' + ( dd < 10 ? '0' : '' ) + dd
      + ' ' + ( hh < 10 ? '0' : '' ) + hh + ':' + ( nn < 10 ? '0' : '' ) + nn + ':' + ( ss < 10 ? '0' : '' ) + ss;
    return datetime;
  }else{
    return "";
  }
}
%>
</script>

<style type="text/css">
html, body{
  /*text-align: center;*/
  background-color: #fafafa;
  font-size: 10px;
  color: #333;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">PayPayAPI - sample</a>
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</nav>

<div class="container">
  <div>
    <table id="transactions_table" class="table table-bordered">
      <thead>
        <tr>
          <th>#</th><th>user_id</th><th>amount</th><th>created</th><th>actions</th>
        </tr>
      </thead>
      <tbody>
<% for( var i = 0; i < transactions.length; i ++ ){ %>
        <tr>
          <td><%= transactions[i].id %></td>
          <td><%= transactions[i].user_id %></td>
          <td><%= transactions[i].amount %> <%= transactions[i].currency %></td>
          <td><%= timestamp2datetime( transactions[i].created ) %></td>
          <td>
            <button id="<%= transactions[i].id %>-info" class="btn btn-xs btn-info" onClick="getTransaction('<%= transactions[i].id %>');">Info</button>
            <button id="<%= transactions[i].id %>-cancel" class="btn btn-xs btn-warning" onClick="cancelTransaction('<%= transactions[i].id %>');">Cancel</button>
            <button id="<%= transactions[i].id %>-refund" class="btn btn-xs btn-danger" onClick="refundTransaction('<%= transactions[i].id %>');">Refund</button>
          </td>
        </tr>
<% } %>
      </tbody>
    </table>
  </div>
</div>

<div class="modal bd-example-modal-lg fade" id="transactionModal" tabindex="-1" role="dialog" aria-labbelledby="transactionModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="transactionModalLabel"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="transactionmodal-body">
        <pre id="transaction_detail">
        </pre>
      </div>
      <div class="modal-footer btn-center">
      </div>
    </div>
  </div>
</div>


</body>
</html>
